{% extends 'base.html' %}
{% load static %}

{% block meta %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .judul{
            color:#394867;
            text-align:center;
        }
        .containerForm{
            font-size: 15px;
        }
    }

    @media only screen and (max-width: 500px){
        h1.judul {
            font-size: 27px;
        }
        .containerForm{
            font-size: 13px;
        }
    </style>
{% endblock meta %}
{% block content %}
    <br></br>
    <div class="container">
        <h1 class="judul" style="font-family: 'Open Sans', sans-serif;">DAFTAR SELURUH PESERTA TEST</h1>
        <br>
        <div class="d-flex justify-content-center containerForm">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Nama Lengkap</th>
                            <th scope="col">Usia</th>
                            <th scope="col">No. Telp</th>
                            <th scope="col">Jenis Kelamin</th>
                            <th scope="col">Alamat</th>
                            <th scope="col">Nama Test</th>
                            <th scope="col">Lokasi Test</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in listForm %}
                        <tr>
                            <th scope="row">{{i.id}}</th>
                            <td>{{i.Nama_Lengkap}}</td>
                            <td>{{i.Usia}}</td>
                            <td>{{i.No_Telp}}</td>
                            {% if i.Jenis_Kelamin == 'Laki-laki' %}
                                <td>L</td>
                            {% else %}
                                <td>P</td>
                            {% endif %}
                            <td>{{i.Alamat}}</td>
                            <td>{{i.Nama_Test}}</td>
                            <td>{{i.Lokasi_Test}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock content %}
