{% extends 'base.html' %}
{% load static %}

{% block meta %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <style>
    .container{
        background-image: url("/static/img/maskerBack.png");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        margin: -15px 180px;
        padding: 150px 135px;
    }
    h1.judul{
        text-align: center;
        color: white;
        font-size: 60px;
    }
    .button {
            background-color: #394867;
            border: none;
            color: white;
            padding: 12px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            cursor: pointer;
            border-radius: 15px;
    }

    @media only screen and (max-width: 1180px){
        h1.judul {
            font-size: 50px;
        }
    }

    @media only screen and (max-width: 1100px){
        h1.judul {
            font-size: 40px;
        }
        .container{
            padding: 120px 120px;
        }
        .button{
            padding: 12px 25px;
            font-size: 11px;
        }
    }

    @media only screen and (max-width: 965px){
        h1.judul {
            font-size: 35px;
        }
        .container{
            padding: 110px 110px;
        }
        .button{
            padding: 12px 25px;
            font-size: 11px;
        }
    }

    @media only screen and (max-width: 900px){
        h1.judul {
            font-size: 31px;
        }
        .container{
            padding: 100px 100px;
        }
        .button{
            padding: 12px 25px;
            font-size: 11px;
        }
    }

    @media only screen and (max-width: 768px){
        h1.judul {
            font-size: 30px;
        }
        .button{
            padding: 12px 25px;
            font-size: 10px;
        }
    }

    @media only screen and (max-width: 475px){
        h1.judul {
            font-size: 25px;
        }
        .container{
            padding: 70px 50px;
        }
        .button{
            padding: 12px 25px;
            font-size: 10px;
        }
    }

    @media only screen and (max-width: 380px){
        h1.judul {
            font-size: 20px;
        }
        .container{
            padding: 60px 50px;
        }
        .button{
            padding: 8px 18px;
            font-size: 7px;
        }
    }

    @media only screen and (max-width: 320px){
        h1.judul {
            font-size: 20px;
        }
        .container{
            padding: 50px 50px;
        }
        .button{
            padding: 8px 18px;
            font-size: 7px;
        }
    }

    @media only screen and (max-width: 290px){
        h1.judul {
            font-size: 15px;
        }
        .container{
            padding: 40px 50px;
        }
        .button{
            padding: 6px 15px;
            font-size: 7px;
        }
    }

    @media only screen and (max-width: 250px){
        h1.judul {
            font-size: 12px;
        }
        .container{
            padding: 40px 50px;
        }
        .button{
            padding: 6px 15px;
            font-size: 7px;
        }
    }

    @media only screen and (max-width: 220px){
        h1.judul {
            font-size: 12px;
        }
        .container{
            padding: 30px 40px;
        }
        .button{
            padding: 6px 15px;
            font-size: 7px;
        }
    }

    @media only screen and (max-width: 202px){
        h1.judul {
            font-size: 10px;
        }
        .container{
            padding: 30px 40px;
        }
        .button{
            padding: 4px 10px;
            font-size: 5px;
        }
    }

    @media only screen and (max-width: 190px){
        h1.judul {
            font-size: 7px;
        }
        .container{
            padding: 20px 40px;
        }
        .button{
            padding: 4px 10px;
            font-size: 5px;
        }
    }

    </style>
{% endblock meta %}
{% block content %}
    <br></br>
    <div class="d-flex justify-content-center">
        <div class="container">
            <h1 class="judul">TERIMA KASIH TELAH MENDAFTAR</h1>
            <br>
            <div class="d-flex justify-content-center">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <a href="/Form/" class="btn btn-md active clr button" role="button" aria-pressed="true">Homepage</a>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <a href="/Form/listForm" class="btn btn-md active clr button" role="button" aria-pressed="true">Cek Formulir</a>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}

