{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="login_form">
        <h1> LOG IN </h1>
        <div class="login_box">
            <div class="container">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <p>Belum Punya Akun ? <a class ="registhere" href="{% url 'login:register' %}">REGISTER HERE</a></p>
                <div class="button">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock content %}