{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="logout_page">
        <h1> LOG OUT </h1>
        <p class="logout_bold">You Are Already Logged Out</p>
        <p class="clickhere">If you want to log in again<a class ="loginhere" href="{% url 'login:login' %}"> CLICK HERE</a></p>
    </div>
</div>
{% endblock content %}