{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="prof_page">
        <h1> {{user.username}}'s Profile </h1>
        <div class="prof_box">
            <div class="container">
                <p>First Name : {{ user.first_name }}</p>
                <p>Last Name : {{ user.last_name }} </p>
                <p>Email : {{ user.email }}</p>
                <a class ="logouthere" href="{% url 'login:logout' %}"> Log Out</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}