{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block meta %}

{% endblock meta %}

{% block content %}
<div class="container">
    <div class="regist_form">
        <h1> REGISTER </h1>
        <div class="regist_box">
            <div class="container">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <p>* required field</p>
                <div class="button">
                    <button class="btn btn-outline-info" type="submit" id="submit_register">Sign Up</button>
                    <p id="reg_req"> Register Requirements </p>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<script src="{% static 'login.js' %}"></script>
{% endblock content %}