.picbg {
    padding-top: 65px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: -1;
    box-shadow: 0px 12px 18px 8px rgba(0, 0, 0, 0.25);
}

.ewbtn {
    display: flex;
    justify-content: space-evenly;
}

.thetext {
    color: white;
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
}

.btn-lg {
    height: 170px;
    width: 80%;
    text-align: left;
    border-radius: 20px;
    margin-bottom: 30px;
}

.link-button-group {
    padding-top: 70px;
    width: 40vmax;
    flex-direction: column;
}

.poll {
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 80vw;
}

.question {
    text-align: right;
}

.bantu {
    font-family: Open Sans;
    font-weight: 900;
    font-size: 30px;
    color: #14274E;
}

.sudahkah {
    font-family: Oxygen;
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 20px;
}

.poll-btn {
    margin-left: 20px;
    font-size: 20px;
    font-weight: lighter;
    background-color: #14274E;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

@media only screen and (max-width: 600px) {

    .link-button-group {
        padding-top: 20px !important;
        width: 100vw !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .question {
        text-align: center !important;
    }

    .bantu {
        font-size: 20px !important;
    }

    .sudahkah {
        font-size: 30px !important;
    }

    .btn-lg {
        width: 90% !important;
    }

    .picbg {
        display: none !important;
    }

    .poll {
        width: 100vw !important;
        height: 500px !important;
        flex-wrap: wrap !important;
    }

    canvas {
        max-width: 90% !important;
    }
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(19, 24, 44, .125);
    border-radius: .25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(19, 24, 44, .03);
    border-bottom: 1px solid rgba(19, 24, 44, .125)
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

card-footer,
.card-header {
    background-color: transparent;
    border-color: rgba(160, 175, 185, .15);
    background-clip: padding-box
}

canvas {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}