/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: 'Rubik', sans-serif;
}

.navbar {
  background: #394867;
  color: white;
}

.brand {
  margin: 5px;
}

.nav-link {
  color: white;
  margin-left: 50px;
  margin-right: 30px;
  font-family: 'Roboto';
}

.button-tulis-blog {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 57px;
  transition: all 0.2s;

  padding-left: 20px;
  padding-right: 20px;
  color: #E5ECFB;
  background: #394867;
  border: 1px solid #8A8A8A;
  box-sizing: border-box;
  border-radius: 26px;
}
.button-tulis-blog:hover {
  color: white;
  background: #14274E;
}
  @media all and (max-width:30em){
  .button-tulis-blog{
  display:block;
  margin:0.4em auto;
  }
}

#buat-blog {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  color: #14274E;

  width: 150px;
  background: #F1F6F9;
  border: 1px solid #14274E;
  box-sizing: border-box;
  border-radius: 50px;
}

.site-form {
  margin-top: 30 px;
  background: #F1F6F9;
  border: 1px solid #14274E;
  box-sizing: border-box;
  border-radius: 48px;
  padding: 20px;
  margin-bottom: 10px;
}

.site-form input, .site-form textarea {
  display: block;
  margin: 20px;
  padding: 10px;
  width: 95%;

  border: 1px solid #8A8A8A;
  box-sizing: border-box;
  border-radius: 13px;
}

#submit_btn {
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 45px;
  width: auto;
  
  background: #394867;
  border-radius: 26px;
  color: #FFFFFF;
}

#post_btn {
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 10px;
  border: 1px solid #14274E;
  background-color: #14274E;
  color: white;
}

.blog {
  min-height: fit-content;
  min-width: 300px;
  height: 480px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  background: white;
  border: 1px solid #14274E;
  box-sizing: border-box;
  border-radius: 15px;
}

.list_blog::-webkit-scrollbar-track, .blog::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
	border-radius: 10px;
}

.list_blog::-webkit-scrollbar, .blog::-webkit-scrollbar
{
	width: 8px;
	background-color: #f5f5f500;
}

.list_blog::-webkit-scrollbar-thumb, .blog::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	background-color: #8A8A8A;
}

.list_blog {
  margin-bottom: 30px;
  min-width: 300px;
  padding: 25px;
  background: white;
  border: 1px solid #14274E;
  box-sizing: border-box;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;

  height: 480px;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.view_artikel {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #14274E;
  background: #F1F6F9;
  border-radius: 26px;
}

.comments-header {
  margin-left: 20px;
}

.comment-artikel-container {
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 25px;
  padding-top: 10px;
  background: white;
  border: 1px solid #14274E;
  box-sizing: border-box;
  border-radius: 15px;
  overflow-wrap: break-word;
}

.comment-artikel {
  background: white;
  margin-bottom: 5px;
  border: 1px solid #14274E;
  border-radius: 10px;
  box-sizing: border-box;
}

.hidden_h1 {
  color: rgba(0, 0, 0, 0.411);
  text-align: center;
  margin-top: 150px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color:#394867;           
}

.regist_form h1{
  text-align: center;
  color : #14274E;
  font-weight: bold;
  margin-bottom: 3%;
}

.regist_form button{
  background-color: #14274E;
  color: white;
  border-color: white;
}

.regist_form{
  padding-top: 8%;
  padding-bottom: 8%;
}

.regist_box{
  background-color: #F1F6F9;
  color: #14274E;
  border-radius: 10px;
  width : 50%;
  margin-left: 25%;
  border: solid #14274E;
  font-family: 'Oxygen';
}

.regist_box p{
  color : Red;
}

.regist_box .container{
  padding: 5%;
}

.login_form h1{
  text-align: center;
  color : #14274E;
  font-weight: bold;
  margin-bottom: 3%;
}

.login_form button{
  background-color: #14274E;
  color: white;
  border-color: white;
}

.login_form{
  padding-top: 8%;
  padding-bottom: 8%;
}

.login_box{
  background-color: #F1F6F9;
  color: #14274E;
  border-radius: 10px;
  width : 50%;
  margin-left: 25%;
  border: solid #14274E;
  font-family: 'Oxygen';
}

.login_box .container{
  padding: 5%;
}

.login_box p{
  color : #9BA4B4;
}

.logout_page h1{
  font-weight: bold;
}

.logout_bold{
  font-weight: bold;
  font-family: 'Oxygen'
}

.clickhere{
  color: #9BA4B4;
  font-family: 'Oxygen'
}

.prof_page h1{
  text-align: center;
  color : #14274E;
  font-weight: bold;
  margin-bottom: 3%;
}


.prof_page{
  padding-top: 8%;
  padding-bottom: 8%;
}

.prof_box{
  background-color: #F1F6F9;
  color: #14274E;
  border-radius: 10px;
  width : 50%;
  margin-left: 25%;
  border: solid #14274E;
  font-family: 'Oxygen';
}

.prof_box .container{
  padding: 5%;
}

#baca_artikel {
  font-family: Open Sans;
}

.list_judul {
  font-family: Roboto
}

.list_snippet {
  font-family: Roboto
}

.judul_artikel {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
}

.author_artikel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.isi_artikel {
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
}

.myfooter {
  bottom: 0;
  height: 150px;
  display: flex;
  justify-content: space-around;
  background-color:#394867;
  color: #DADADA;
  align-items: center;
}

.soc-icons {
  margin-right: 30px;
}

@media only screen and (max-width: 600px) {
  .myfooter {
    justify-content: center;
  }
  
  .footer-logo {
    display: none !important;
  }

  .soc-icons {
    display: none !important;
  }

  .mb-1 {
    max-width: 60vw;
  }
}

#reg_req {
  float: right;
  font-family: "Oxygen";
  font-weight: bold;
  color: #14274E;
  margin-top: 2%;
}

#reg_req:hover{
  cursor: pointer;
  text-decoration: underline;
}