{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeCare</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/icon.png' %}" />

    <!-- Bootstrap & CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">

    <!-- Scripts for chart-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
    <script>
        $(document).ready(function() {
            pollChart();

            $("#sudah-button").click(function() {
                $.ajax({
                    url: '/pollsudah',
                    success: function(data) {
                        pollChart();
                    }
                });
                $('#belumvote').css('display', 'none');
                $('#udahvote').css('display', 'block');
                $('#sudahModal').modal('hide')         
            });

            $("#belum-button").click(function() {
                $.ajax({
                    url: '/pollbelum',
                    success: function(data) {
                        pollChart();
                    }
                });
                $('#belumvote').css('display', 'none');
                $('#udahvote').css('display', 'block');
                $('#belumModal').modal('hide')          
            });
        });
    
    function pollChart() {
        $.ajax({
            url: '/hasilpoll',
            success: function(result) {

                var ctx = $("#chart-line");
                var myLineChart = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: {
                        labels: [''],
                        datasets: [{
                            data: [result.sudah + 56],
                            label: "Sudah",
                            borderColor: "#5e7fb9",
                            backgroundColor: '#5e7fb9',
                            fill: false
                        }, {
                            data: [result.belum + 143],
                            label: "Belum",
                            borderColor: "#ad342d",
                            fill: false,
                            backgroundColor: '#ad342d'
                        }]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                ticks: {
                                    beginAtZero: true // Edit the value according to what you need
                                }
                            }]
                        }
                    }
                });

            }
        });
    }
</script>

    {% block meta %}
    {% endblock meta %}

</head>

<body>
    {% include 'landing/nav.html' %}
    {% block content %}

    <div class="container">
        <img class="picbg" src="https://i.imgur.com/3mq6tpa.jpeg">
        <div class="link-button-group">

            <a class="btn btn-primary btn-lg" style="background: #394867" href="#">
                <div class="row ewbtn" style="height: inherit">
                    <div class="align-self-center">
                        <svg width="119" height="119" viewBox="0 0 119 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.8333 9.91663C14.3792 9.91663 9.96626 14.3791 9.96626 19.8333L9.91667 109.083L29.75 89.25H99.1667C104.621 89.25 109.083 84.7875 109.083 79.3333V19.8333C109.083 14.3791 104.621 9.91663 99.1667 9.91663H19.8333ZM19.8333 19.8333H99.1667V79.3333H25.6346L19.8333 85.1346V19.8333ZM69.4167 59.5H29.75V69.4166H69.4167V59.5ZM29.75 44.6249H89.25V54.5416H29.75V44.6249ZM89.25 29.7499H29.75V39.6666H89.25V29.7499Z" fill="#F2F2F2"/>
                        </svg>
                    </div>
                    <div class="thetext align-self-center">
                        <p>TANYA <br>DOKTER</p>
                    </div>
                </div>
            </a>

            <a class="btn btn-primary btn-lg" href="{% url 'Formulir:formulir' %}" style="background: #14274E">
                <div class="row ewbtn" style="height: inherit">
                    <div class="align-self-center">
                        <svg width="123" height="123" viewBox="0 0 123 123" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M97.375 20.5H92.25V10.25H82V20.5H41V10.25H30.75V20.5H25.625C19.9875 20.5 15.375 25.1125 15.375 30.75V102.5C15.375 108.138 19.9875 112.75 25.625 112.75H97.375C103.012 112.75 107.625 108.138 107.625 102.5V30.75C107.625 25.1125 103.012 20.5 97.375 20.5ZM97.375 102.5H25.625V51.25H97.375V102.5ZM25.625 30.75V41H97.375V30.75H25.625ZM35.875 61.5H87.125V71.75H35.875V61.5ZM71.75 82H35.875V92.25H71.75V82Z" fill="#F2F2F2"/>
                        </svg>
                    </div>
                    <div class="thetext align-self-center">
                        <p>DAFTAR <br>TES</p>
                    </div>
                </div>
            </a>

            <a class="btn btn-primary btn-lg" href="{% url 'artikel:index' %}" style="background: #394867">
                <div class="row ewbtn" style="height: inherit">
                    <div class="align-self-center">
                        <svg width="119" height="119" viewBox="0 0 119 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M48 64C58.2933 64 66.6667 55.6267 66.6667 45.3334C66.6667 35.04 58.2933 26.6667 48 26.6667C37.7067 26.6667 29.3333 35.04 29.3333 45.3334C29.3333 55.6267 37.7067 64 48 64ZM10.6667 92C10.6667 79.5734 35.52 73.3334 48 73.3334C60.48 73.3334 85.3333 79.5734 85.3333 92V101.333H10.6667V92ZM48 84C38.4533 84 27.6267 87.5734 23.1467 90.6667H72.8533C68.3733 87.5734 57.5466 84 48 84ZM56 45.3334C56 40.9067 52.4267 37.3334 48 37.3334C43.5733 37.3334 40 40.9067 40 45.3334C40 49.76 43.5733 53.3333 48 53.3333C52.4267 53.3333 56 49.76 56 45.3334ZM85.5467 73.6536C91.7334 78.1336 96 84.107 96 92.0003V101.334H117.333V92.0003C117.333 81.227 98.6667 75.0936 85.5467 73.6536ZM98.6667 45.3334C98.6667 55.6267 90.2933 64 80 64C77.12 64 74.4533 63.3067 72 62.1334C75.36 57.3867 77.3333 51.5734 77.3333 45.3334C77.3333 39.0934 75.36 33.28 72 28.5334C74.4533 27.36 77.12 26.6667 80 26.6667C90.2933 26.6667 98.6667 35.04 98.6667 45.3334Z" fill="#F2F2F2"/>
                        </svg>
                    </div>
                    <div class="thetext align-self-center">
                        <p style="padding-right: 40px">BLOG</p>
                    </div>
                </div>
            </a>

        </div>
    </div>

    <div class="container poll">
        <div class="question">
            <div class="bantu">
                BANTU KAMI DENGAN<br>MENJAWAB
            </div>
            <div class="sudahkah">
                Apakah Anda sudah<br>pernah melakukan<br>rapid/swab test?
            </div>
            {% if punya_usernya == 0 %}
                <div id="belumvote">
                    <a class="btn btn-primary poll-btn" data-toggle="modal" data-target="#sudahModal" role="button">Sudah</a>
                    <a class="btn btn-primary poll-btn" data-toggle="modal" data-target="#belumModal" role="button">Belum</a>
                </div> 
                <p id="udahvote" style="display: none;">Terima kasih atas partisipasi Anda<p>
            {% else %}
                Terima kasih atas partisipasi Anda
            {% endif %}
        </div>

      <div class="card-body">
          <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
              <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                  <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
              </div>
              <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                  <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
              </div>
          </div> <canvas id="chart-line" width="250" height="150" class="chartjs-render-monitor" style="display: block"></canvas>
      </div>     
      
    </div>

    <div class="modal fade" id="sudahModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if user.is_authenticated %}
                    <div class="modal-body">
                        Kirim survei?
                    </div>
                {% else %}
                    <div class="modal-body">
                        Login untuk kirim survei?
                    </div>
                {% endif %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    {% if user.is_authenticated %}
                        <a name="sudah" id="sudah-button" class="btn btn-primary" role="button">
                            Kirim
                        </a>
                    {% else %}
                        <a class="btn btn-primary" href="/login" role="button">
                            Login
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="belumModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if user.is_authenticated %}
                    <div class="modal-body">
                        Kirim survei?
                    </div>
                {% else %}
                    <div class="modal-body">
                        Login untuk kirim survei?
                    </div>
                {% endif %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    {% if user.is_authenticated %}
                        <a  name="belum" id="belum-button" class="btn btn-primary" role="button">
                            Kirim
                        </a>
                    {% else %}<a class="btn btn-primary" href="/login" role="button">
                        Login
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

  {% include 'footer.html' %}

  {% endblock content %}

</body>

</html>