<!--  Navbar  -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
    <img class="brand" src="{% static 'img/DeCare.png' %}" width="130" alt="brand">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% if user.is_authenticated %}
      <a class="nav-link" href="{% url 'login:profile' %}">My Profile</a>
      {% else %}
      <a class="nav-link" href="{% url 'login:login' %}">Log In</a>
      {% endif %}
    </div>
  </div>
</nav>