{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Artikel</title>
<script src="{% static 'js/script.js' %}"></script>
{% endblock meta %}

{% block content %}
<div class="container view_artikel">
    <a href="{% url 'artikel:tulis' %}"><button class="button-tulis-blog">Tulis Blogmu</button></a>
    <div class="row">
        <div class="blog col-8">
            {% if liat_artikel == '' %}
            <h1 class="hidden_h1">Ayo tulis artikelmu!</h1>
            {% else %}
            <h2 class="judul_artikel">{{ liat_artikel.judul }}</h2>
            <h5 class="author_artikel">Oleh: {{ liat_artikel.author.get_full_name }}</h5>
            <p class="isi_artikel">{{ liat_artikel.isi|linebreaks}}</p>
            {% endif %}
        </div>

        <div class="list_blog col-3">
            {% if list_artikel.count != 0 %}
            <h2 id="baca_artikel">Baca artikel lain</h2>
            {% for art in list_artikel %}
            <div class="blog-entry">
                <h6 class="list_judul"><a href="{% url 'artikel:show_artikel' slug=art.slug %}">{{ art.judul }}</a>
                </h6>
                <p class="list_snippet">{{ art.snippet }}</p>
            </div>
            {% endfor %}
            {% else %}
            <h5 class="hidden_h1">Belum ada artikel lain :(</h5>
            {% endif %}
        </div>
    </div>
    {% if liat_artikel == '' %}
    {% else %}
    <h2 class="comments-header">Comments</h2>
    <div class="row">
        <div class="comment-artikel-container col">
            {% if user.is_authenticated %}
            <p>Comment as {{request.user.get_full_name}} <a href="{% url 'login:logout' %}">• Logout</a></p>
            <form id="form-comment" action="." method="POST">
                {% csrf_token %}
                {{ form }}
                <input id="post_btn" type="submit" value="Post">
            </form>

            {% else %}
            <p><a href="{% url 'login:login' %}?next={{request.path}}">Login</a> to write a comment.</p>
            {% endif %}
            <div class="list-comment">
                {% for comment in list_comment %}
                <div class="comment-artikel col">
                    {% if request.user == comment.author %}
                    <button 
                        href="{% url 'artikel:delete_comment' comment.id %}" 
                        style="float: right;padding: 5px; margin-top: 5px;" 
                        type="button" 
                        class="del_btn btn btn-outline-danger">
                        x</button>
                    {% endif %}

                    <h4 style="display: inline-block;margin-top: 5px;">{{ comment.author.get_full_name }} •</h4>
                    <p style="display: inline-block;margin-left: 10px;">{{ comment.date }} </p>
                    <p>{{ comment.body }}</p>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}