{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tulis Artikel</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <h4 id="buat-blog">Buat Blog</h4>
    <form class="site-form" action="{% url 'artikel:tulis' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input id="submit_btn" type="submit" value="Submit">
    </form>
</div>
{% endblock content %}